@model cumulative1.Models.Teacher

<h2>Update Teacher:</h2>

<form action="/TeacherPage/Update/@Model.TeacherID" method="POST">
    <div>
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" value="@Model.FirstName" />
    </div>
    <div>
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" value="@Model.LastName" />
    </div>
    <div>
        <label for="EmployeeNum">Employee Number</label>
        <input type="text" id="EmployeeNum" name="EmployeeNum" value="@Model.EmployeeNum" />
    </div>
    <div>
        <label for="HireDate">Hire Date</label>
        <input type="date" id="HireDate" name="HireDate" value="@Model.HireDate" />
    </div>
    <div>
        <label for="Salary">Salary</label>
        <input type="number" id="Salary" name="Salary" value="@Model.Salary" />
    </div>
    <div>
        <input class="button" type="submit" value="Update Teacher">
    </div>
</form>

<style>

    form div {
        padding: 10px;
    }

    form .button {
        padding: 10px 20px;
        background: blue;
        color: white;
        border: 1px solid blue;
    }

</style>